<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
</head>
<body>
    
    <form action="{% url 'edit_student' student.id %}" method="post">
      {% csrf_token %}
      <div class="row g-2">
        <div class="col-md">
          <div class="form-floating">
            <input
              type="text"
              class="form-control form-control-sm"
              id="name"
              name="name"
              value="{{ student.name }}"
              placeholder="Name"
            />
            <label for="name">Name</label>
          </div>
        </div>
        <div class="col-md">
          <div class="form-floating">
            <input
              type="number"
              class="form-control form-control-sm"
              id="roll"
              name="roll"
              value="{{ student.roll }}"
              placeholder="Roll"
            />
            <label for="roll">Roll</label>
          </div>
        </div>
        <div class="col-md">
          <div class="form-floating">
            <input
              type="text"
              class="form-control form-control-sm"
              id="father_name"
                name="father_name"
                value="{{ student.father_name }}"
              placeholder="Father Name"
            />
            <label for="father_name">Father Name</label>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-sm mt-3">
        update Student
      </button>
    </form>
 <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
</body>
</html>